html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #849d8f;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	margin: 0;
	padding:0;
}

body > input[type="radio"] {
  display: none;
}

.site_wrapper {
  	min-width: 1200px;
	background-repeat: no-repeat;
  	background-position: top center;
  	transition: background-image 0.5s ease, background-color 0.5s ease;
  	position: relative;
}

.site_wrapper::before,
.site_wrapper::after {
  	content: "";
  	visibility: hidden;
}

.site_wrapper::before {
	background-image: url("../img/Background2.png");
}

.site_wrapper::after {
	background-image: url("../img/Background3.png");
}

.container {
	width:1200px;
	margin:0 auto;
	padding:0 27px;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

.btn {
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	text-decoration: none;
	padding:11px 16px;
	text-align: center;
	outline: none;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main_header {
	padding:10px 0;
}

.main_header-top{
	vertical-align: middle;
	margin-bottom: -5px;
}

.logo_block {
	float: left;
	max-width: 154px;
}

.logo_link img {
	max-width:154px;
	max-height: 64px; 
}

.header_nav {
	float: left;
	max-width: 50%;
	padding-top:12px;
	padding-left: 5px;
}

.user_block {
	float: right;
	width: 267px;
	padding-top:13px;
}

.catalog_list {
	padding: 0;
	margin:0;
}

.header_list {
	list-style: none;
	padding: 0;
	margin:0;
	font-size: 0;
}

.header_list-item {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 16px;
}

.header_list-item:last-child {
	margin-right: 0;
}

.header_list-link {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	padding:8px 15px;
	border-radius: 19px;
	position: relative;
	text-decoration: none;
}

.header_list-link::after {
	content: "";
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 9px;	
	height: 1px;
	background: rgba(255,255,255,0.2);
}

.header_list-link:hover::after {
	display: none;
}

.header_list-link:hover {
	color: #353535;
	background-color: #f6f6f3;
	text-decoration: none;
}

.header_list-link:active {
	box-shadow: inset 0 2px 2px 0;
}

.catalog_nav {
	display: none;
	position: absolute;
	width:144px;
	z-index: 20;	
}

.catalog_list {
	margin-top: 5px;
	background-color: #f7f7f4;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);
}

.header_list-item:hover .catalog_nav {
	display: block;
}

.emphasized {
	border-bottom: 1px solid #d1d1ce;
	font-weight: 700;
}

.catalog_list-link {
	display: block;
	padding:11px 21px;
	text-decoration: none;
	color: #353535;
}

.catalog_list-link[href]:hover {
	background-color: #fbded7;
} 

.catalog_list-link[href]:active {
	background-color: #f6b5a5;
} 

.active {
	background-color: #d07058;
	color: #fff;
	text-decoration: none;
	cursor: default;
}

.catalog_list-item:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.catalog_list-item:last-child a {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

.user_block-list {
	font-size: 0;
	text-align: right;
	list-style: none;
	padding:0;
	margin:0;
}

.user_block-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right:11px;
	font-size: 14px;
	line-height: 16px;
}

.user_block-item:last-child {
	margin-right:0;
}

.user_block-link {
	display: inline-block;
	border-radius: 18px;
	padding:8px;
	background-color: rgba(254, 254, 254, 0.2);
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.user_block-item:hover .user_block-link{
	color:black;
	background-color: rgba(248, 247, 244, 1);
}

.search{
	font-size: 0;
	width: 32px;
	height: 32px;
	position: relative;
}

.search::before {
	content: "";
	position: absolute;
	z-index: 25;
	left:8px;
	top:8px;
	width: 16px;
	height: 16px;
	background: url("../img/sprite.png") 0px -113px no-repeat;
}

.search_item:hover .search::before {
	background: url("../img/sprite.png") -57px -113px no-repeat;
}

.search_block {
	display: none;
	width: 342px;
	z-index: 10;
	position: absolute;
	padding-top: 5px;
	box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);
	left: -309px;
}

.search_block form {
	background-color: #f7f7f4;
	border-radius: 5px;
	padding:20px 16px;
}

.search_block fieldset {
	margin: 0;
	padding:0;
	border:none;
	position: relative;
}

.search_block input {
	width: 310px;
	padding: 10px 15px;
	margin:0 auto;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	font-weight: 400;
	border:1px solid #d2d2d1;
	background-color: #fff;
	outline: none;
}

.search_block input:hover {
	box-shadow: 0 0 0 1px #c7c6c5 inset;
}

.search_block input:focus{
	border-color: #5b9ddf;
}

.search_block input:focus:hover {
	box-shadow: 0 0 0 1px #5b9ddf inset;
}

.search_block input:focus + label {
	color: #5b9ddf;
	top: -15px;
	left:15px;
	font-size: 11px;
	line-height: 13px;
}

.search_block label {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	transition: .3s;	
}

.search_block .active_input + label {
	color: #c7c6c5;
	top: -15px;
	left:15px;
	font-size: 11px;
	line-height: 13px;
}

.enter {
	padding-left: 45px;
	padding-right: 16px;
}

.enter::before {
	content: "";
	position: absolute;
	left:16px;
	top:5px;
	width: 21px;
	height: 21px;
	background: url("../img/sprite.png") 0 -57px no-repeat;
}

.enter_item:hover .enter::before {
	background: url("../img/sprite.png") -57px -57px no-repeat;
}

.enter_block {
	padding-top:5px;
	display: none;
	position: absolute;	
	width: 277px;
	z-index: 10;
	left: -184px;
	box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);
}

.enter_block form {
	background-color: #f7f7f4;
	border-radius: 5px;
	padding:20px;
}

.enter_block fieldset {
	margin: 0;
	padding:0;
	border:none;
	position: relative;
	margin-bottom: 22px;
}

.enter_block input {
	width: 100%;
	padding: 10px 15px;
	margin:0 auto;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	font-weight: 400;
	border:1px solid #d2d2d1;
	outline: none;
	background-color: #fff;
}

.enter_block input:hover {
	box-shadow: 0 0 0 1px #c7c6c5 inset;
}

.enter_block input:focus {
	border-color: #5b9ddf;	
}

.enter_block input:focus:hover {
	box-shadow: 0 0 0 1px #5b9ddf inset;
}

.enter_block label {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	transition: .3s;	
}

.enter_block input:focus + label {
	color: #5b9ddf;
	top: -15px;
	left:15px;
	font-size: 11px;
	line-height: 13px;
}
.enter_block .active_input + label {
	color: #c7c6c5;
	top: -15px;
	left:15px;
	font-size: 11px;
	line-height: 13px;
}

.enter_btn {
	padding-right: 25px;
	padding-left:25px;
	float: left;
	max-width: 100px;
	font-size: 18px;
	line-height: 24px;
	border:none;
}

.enter_links {
	padding-right: 4px;
	float: right;
	max-width: 125px;
	text-align: left;
}

.enter_links a {
	color: #353535;
	font-size: 13px;
	line-height: 24px;
	position: relative;
	text-decoration: none;
}

.enter_links a::after {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*width: calc(100% - 30px);*/
	height: 1px;
	background: rgba(0,0,0,0.2);
}

.enter_links a:hover::after,
.enter_links a:active::after {
	background: rgba(249,205,196,1);
}

.enter_links a:hover,
.enter_links a:active {
	color:#e84d37;
} 

.search_item:hover .search_block, 
.enter_item:hover .enter_block,
.cart_item:hover .cart_preview {
	display: block;
}

.cart {
	padding-left: 43px;
	width: 116px;
	text-align: left;
}

.cart::before {
	content: "";
	position: absolute;
	left: 16px;
	top: 5px;
	width: 22px;
	height: 21px;
	background: url("../img/sprite.png") 0 0 no-repeat;
}

.cart:hover::before {
	background: url("../img/sprite.png") -57px 0 no-repeat;
} 

.cart_full {
	background-color: #fff;
	color: #000;
}

.cart_full::before  {
	content: "";
	position: absolute;
	left: 16px;
	top: 5px;
	width: 22px;
	height: 21px;
	background: url("../img/sprite.png") -57px 0 no-repeat;
}

.cart_preview {
	padding-top: 5px;
	display: none;
	position: absolute;
	width: 540px;
	z-index: 10;
	right: -8px;
	font-size: 13px;
	line-height: 16px;
	color:#353535;
}

.cart_preview-table {
	background-color: #f6f6f3;
	border-radius: 5px;
	padding-top: 20px;
	padding: 20px 15px;
	box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);

}

.cart_preview-table td {
	padding: 0 13px 18px 0;
}

.delete_button {
	font-size: 0;
	margin:0 auto;
	border:none;
	width: 12px;
	height: 12px;
	background:none;
	position: relative;
	cursor: pointer;
}

.delete_button::before,
.delete_button::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 2px;
	background-color: #535353;
	top: 0;
	left: 0;
	z-index: 20px;
}

.delete_button::before {
	transform: rotate(45deg);
}

.delete_button::after {
	transform: rotate(135deg);
}

.preview_product-name {
	width: 240px;
	text-align: left;
}

.cart_preview-price {
	color: #989898;
}

.subtotal {
	width: 70px;
	text-align: center;
}

.preview_total td {
	text-align: right;
	color: #353535;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	padding: 18px 0px 18px 0; 
	border-top: 1px solid #c9c9c6;
}

.preview_btn_cell td {
	padding: 0;
}

.header_add-info {
	margin-bottom: -30px;
	padding:0;
}

.header_contacts {
	float: right;
	color:#fff;
}


.header_contacts_schedule,
.header_contacts_phone {
	padding: 0;
	margin: 0;
	text-align: right;
}

.header_contacts_schedule {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.header_contacts_phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.breadcrumbs {
	list-style: none;
	font-size: 0;
	margin:0;
	padding:0;
	margin-bottom: 5px;
}

.breadcrubs_item {
	display: inline-block;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}

.breadcrunbs_item-link {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	position: relative;
	padding-right: 15px;
}

.breadcrunbs_item-link:hover {
	color: #ffbc9e;
}

.breadcrunbs_item-link::after {
	content: "\00bb";
	position: absolute;
	width:10px;
	height: 10px;
	top: 1px;
	right:0;
}

.main h1 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
} 

.slider {
	position: relative;
	padding-top: 292px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 41px;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60.35px;
}

.slide-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 42px;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider_controls {
	position: absolute;
	bottom: 23px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider_controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 9px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider_controls label:hover {
	background-color:rgba(255,255,255,0.4);
}

.slider_controls label:active {
	background-color:rgba(255,255,255,1);
}


#btn-1:checked ~ .site_wrapper #slide1,
#btn-2:checked ~ .site_wrapper #slide2,
#btn-3:checked ~ .site_wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site_wrapper {
	background-color: #849d8f;
	background-image: url("../img/Background1.png");
}

#btn-2:checked ~ .site_wrapper {
	background-color: #8996a6;
	background-image: url("../img/Background2.png");
}

#btn-3:checked ~ .site_wrapper {
	background-color: #9d8b84;
	background-image: url("../img/Background3.png");
}

#btn-1:checked ~ .site_wrapper label[for="btn-1"],
#btn-2:checked ~ .site_wrapper label[for="btn-2"],
#btn-3:checked ~ .site_wrapper label[for="btn-3"] {
	background-color: #ffffff;
}



.banners {
	font-size: 0;
	margin-bottom: 35px;
}

.banners_item {
	font-size: 18px;
	color:#fff;
	padding: 18px 20px 22px;
	display: inline-block;
	vertical-align: top;
	width: 560px;
	margin-right: 26px;
	border-radius: 15px;
}

.banners_item:last-child {
	margin-right: 0;
}

.banners_item h2 {
	margin: 0;
	padding:0;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin-bottom: 15px;
}

.banners_item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin: 0;
	padding:0;
	margin-bottom: 20px;
	min-height: 65px;
}

.btn_banners {
	float: right;
	padding: 11px 23px;
}

.raspberries {
	background: #770c28 url("../img/raspberry_back.jpg") top left;
	background-size: cover;
}

.shoko {
	background: #493023 url("../img/shoko_back.jpg") top left;
	background-size: cover;
}

.products {
	padding-bottom: 40px;
	margin-left: -13px;
	margin-right: -13px;
	margin-bottom: 12px;

}

.products_list {
	font-size: 0;
	padding:0;
	list-style: none;
}

.products_list-item {
	font-size:16px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 293px;
	min-height: 323px;
	position: relative;
	padding:6px 13px 17px;
	margin-bottom: -43px;
	border-radius: 5px;
}

.products_list-item:hover {
  background: rgba(248,247,244,.3);
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  z-index: 20;
}

.products_list-item:hover .products_name-link{
	text-decoration: none;
}


.products_img-block {
	border-radius: 50%;
	width: 267px;
	height: 267px;
	overflow: hidden;
}

.products_item-link {
	display: block;
	border-radius: 50%;
	width: 267px;
	height: 267px;
	margin-bottom: 15px;
	position: relative;
}

.top::before {
	content: "";
	position: absolute;
	z-index: 25;
	width: 60px;
	height: 60px;
	top: 0;
	left:0;
	background: transparent url("../img/sprite.png") 0 -453px no-repeat;
	border-radius: 50%;
	overflow: hidden;
}

.products_list-item:hover .products_link-quickview {
	visibility: visible;
}

.products_list-item p {
	margin-top: 0;
	margin-bottom: 10px;
	padding:0 5px;
}

.products_link-quickview {
	visibility: hidden;
	width: 201px;
}

.price {
	position: absolute;
	color: #fff;
	font-size: 45px;
	line-height: 45px;
	top: 211px;
	left: 0px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.rouble {
	font-size: 30px;
	position: relative;
	left:24px;
}

.rouble::before {
	content: "";
	position: absolute;
	background: url("../img/sprite.png") -2px -527px no-repeat;
	top: -2px;
	left:-30px;
	width: 30px;
	height: 35px;
}

.products_name-link {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.features {
	background: url(../img/Waffles_back.jpg) top left;
	padding: 24px 20px;
	margin-top: -42px;
	margin-bottom: 40px;
	border-radius: 15px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	color:#353535;
	font-weight: 500;
	margin: 0 auto;
	margin-bottom: 5px;
}

.features_list {
	font-size: 0;
	padding:0;
	margin: 0;
	list-style: none;
}

.features_item {
	display: inline-block;
	vertical-align: top;
	margin:0;
	font-size: 16px;
	line-height: 22px;
	color: #353535;
	width: 540px;
	margin-right: 26px;
	margin-bottom: 5px;
	padding: 15px 0px 0px 55px;
	position: relative;
}

.features_item:nth-child(2n) {
	margin-right: 0;
}

.features_item::before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	top: 5px;
	left: 0;
	z-index: 20;
}

.cow::before {
	background: url("../img/sprite.png") 0 -283px no-repeat;
}

.leaf::before {
	background: url("../img/sprite.png") 0 -395.5px no-repeat;
}

.ice_cream::before {
	background: url("../img/sprite.png") 0 -340px no-repeat;
}

.term::before {
	background: url("../img/sprite.png") 0 -227.1px no-repeat;
}


.news_section {
	font-size: 0;
	margin-bottom: 36px;
}

.news_item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 22px;
	color: #353535;
	width: 560px;
	min-height: 220px;
	border-radius: 15px;
	margin-right: 26px;
	padding:0;
}

.news_item:last-child {
	margin-right: 0;
}

.recipes_link {
	color: #353535;
	font-size: 24px;
	line-height: 30px;
}


.news {
	background: #fff url(../img/strawberry_back.jpg) 0 0;
	padding:20px;
}

.news p {
	margin: 0;
	margin-bottom: 5px;
}

.news h3 {
	width: 300px;
	margin: 0;
}

.subscribe-border {
	background: #fff url(../img/post_pattern.png);
	padding:5px;
}

.subscribe {
	background: #fff;
	border-radius: 15px;
	height: 210px;
	width: 550px;
	margin: auto;
	padding: 25px 20px; 
}

.subscribe p {
	margin: 0;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 22px;
}

.subscribe form {
	background-color: inherit;
	padding:0;
	margin: 0;
}

.subscribe fieldset {
	width: 370px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding:0;
	border:none;
	position: relative;
}

.subscribe input[type="email"] {
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #989898;
	font-weight: 400;
	border:1px solid #d2d2d1;
	outline: none;
	background-color: #fff;
}

.subscribe input[type="email"]:hover {
	box-shadow: inset 0 0 0 1px #d2d2d1;
}

.subscribe input[type="email"]:focus {
	border-color: #5b9ddf;
}

.subscribe input[type="email"]:focus:hover {
	box-shadow: inset 0 0 0 1px #5b9ddf;
}

.subscribe label {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	transition: .3s;
}

.subscribe input[type="email"]:focus + label {
	top: -15px;
	left: 15px;
	font-size: 11px;
	line-height: 13px;
	color:#5b9ddf;
}

.subscribe .active_input + label {
	top: -15px;
	left: 15px;
	font-size: 11px;
	line-height: 13px;
}

.subscribe input[type="submit"] {
	border: none;
}

.subscribe_btn {
	float: right;
}

.map {
	width: 1200px;
	background: url(../img/map.png) 0 center no-repeat;
	height: 430px;
	margin:0 auto;
	padding:0;
}

.yandex_map {
	position: relative;
}

.yandex_map iframe {
	position: absolute;
	z-index: 15;
	width:1200px;
	height:430px;
	border:none;
}

.contacts {
	margin-top: 60px;
	padding:30px 25px;
	background-color: #fff;
	border-radius: 15px;
	float: right;
	width: 300px;
	font-size: 14px;
	line-height: 20px;
	color: #353535;
	position: relative;
	z-index: 20;
}

.contacts_block1 {
	margin-bottom:16px; 
}

.contacts_block1 p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 2px;
	width: 150px;
}

.contacts .bold {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	width: 230px;
}

.contacts_block2 {
	margin-bottom: 25px;
}

.contacts_block2 p {
	margin:0;
	margin-bottom: 4px;
}

.feedback_btn {
	padding:10px 25px;
}

.feedback_form {
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left:-239px; 
	margin-top: -220px;
	z-index: 30;
	width: 478px;
	padding:25px;
	background-color: #f7f7f4;
	border-radius: 10px;
	box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);
}

.feedback_form p {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 25px;
}

.feedback_close {
	position: absolute;
	z-index: 31;
	top: 15px;
	right: 15px;
	height:18px;
	width: 18px;
	font-size: 0;
	background: none;
	border: none;
	outline: none;
}

.feedback_close::before,
.feedback_close::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 13px;
	background-color: #000;
	top: 8px;
	left: 2px;
	border-radius: 1px;
}

.feedback_close:active::before,
.feedback_close:active::after {
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.7);
}

.feedback_close::before {
	transform: rotate(45deg);
}

.feedback_close::after {
	transform: rotate(-45deg);
}

.feedback_form fieldset {
	position: relative;
	padding:0;
	margin-bottom: 20px;
	border:none;
}

.feedback_form input[type="text"],
.feedback_form input[type="email"],
.feedback_form textarea {
	font-size: 16px;
	line-height: 24px;
	color: #989898;
	padding: 10px 15px;
	border-radius: 5px;
	border:1px solid #d2d2d1;
	background-color: #fff;
	outline: none;
}

.feedback_form input[type="text"],
.feedback_form input[type="email"] {
	width: 267px;
}

.feedback_form textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	width: 100%;
	margin-bottom: 5px;
}

.feedback_form input[type="text"]:focus,
.feedback_form input[type="email"]:focus,
.feedback_form textarea:focus {
	border-color: #5b9ddf;
}

.feedback_form input[type="text"]:hover
.feedback_form input[type="email"]:hover,
.feedback_form textarea:hover {
	box-shadow: inset 0 0 0 1px #989898;
}

.feedback_form input[type="text"]:focus:hover,
.feedback_form input[type="email"]:focus:hover,
.feedback_form textarea:focus:hover {
	box-shadow: inset 0 0 0 1px #5b9ddf;
}

.feedback_form label {
	position: absolute;
	top: 12px;
	left: 15px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	transition: .3s;
}

.feedback_form input:focus + label,
.feedback_form textarea:focus + label {
	top: -15px;
	left: 15px;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
}
.feedback_form .active_input + label {
	top: -15px;
	left: 15px;
	font-size: 11px;
	line-height: 13px;
}


.feedback_form input[type="submit"] {
	float: right;
	border:none;
}

.filter_settings {
	width: 880px;
	font-size: 0;
	color: #fff;
}

.filter_settings form {
	margin-bottom: 16px;
} 

.filter_settings-item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 14px;
	margin-right: 14px;
}

.filter_settings-item p {
	margin: 0 15px 7px 0;
	padding-left: 16px;
	font-weight: 500;
	font-size: 14px;
	
}

.filter_settings-options {
	border-radius: 20px;
	background-color: rgba(255,255,255,0.2);
	padding: 8px 14px; 
	font-size: 16px;
	line-height: 18px;
	height: 36px;
}

.filter_settings-sort > select {
	background: none;
	border:none;
	color:#fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	outline: none;
}

.filter_settings-sort option {
	color: black;
}

.filter_settings-sort:hover {
	background: #fff;
}

.filter_settings-sort:hover select {
	color: black;
}

.filter_settings-fat {
	padding:8px 15px;
}

.filter_settings-fat label {
	cursor: pointer;
	margin-right: 15px;
}

.filter_settings-fat label:hover .checkbox_indicator {
	box-shadow: inset 0 0 0 1px #fff;
}

/*.filter_settings-fat label:disabled .checkbox_indicator {
	border:1px solid rgba(255,255,255,0.4);
}*/

.filter_settings-fat label:last-child{
	margin-right: 0;
}

.filter_settings-fat input {
	display: none;
}

.filter_settings-fat .checkbox_indicator {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border:1px solid #fff;
	margin-right: 8px;
}

.filter_settings-fat input[type="radio"]:checked + .checkbox_indicator::before{
	content: "";
	position: absolute;
	height:10px;
	width: 10px;
	border-radius: 50%;
	background-color: #fff;
	top: 4px;
	left:4px; 
}

.filter_settings-fat input[type="radio"]:disabled + .checkbox_indicator{
	border:1px solid rgba(255,255,255,0.4);
}

.filter_settings-fat input[type="radio"]:checked:disabled + .checkbox_indicator::before {
	background-color: rgba(255,255,255,0.4);
}

.filter_settings-fillers {
	padding-right: 18px;
}
.filter_settings-fillers input {
	display: none;
}

.filter_settings-fillers label {
	cursor: pointer;
	margin-right: 19px;
}

.filter_settings-fillers label:last-child {
	margin-right: 0px;
}

.filter_settings-fillers .checkbox_indicator {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border:1px solid #fff;
	margin-right: 8px;
}

.filter_settings-fillers label:hover .checkbox_indicator {
	box-shadow: inset 0 0 0 1px #fff;
}

.filter_settings-fillers .checkbox_indicator::before,
.filter_settings-fillers .checkbox_indicator::after {
	content: "";
	position: absolute;
	background-color: #fff;
	border-radius: 1px;
}

.filter_settings-fillers input:checked + .checkbox_indicator::before {
	height: 2px;
	width: 11px;
	top:8px;
	left:5px;
	transform: rotate(-45deg);
}

.filter_settings-fillers input:checked + .checkbox_indicator::after  {
	height: 2px;
	width: 6px;
	top: 9px;
	left:3px;
	transform: rotate(60deg);
}


.filter_settings-fillers input:disabled + .checkbox_indicator {
	border:1px solid rgba(255,255,255,0.4);
}

.filter_settings-fillers input:checked:disabled + .checkbox_indicator::before,
.filter_settings-fillers input:checked:disabled + .checkbox_indicator::after { 
	background: rgba(255,255,255,0.4);
}

.filter_settings-item:last-child {
	margin-right: 0;
}

.range_controls {
	padding: 8px 16px;
}

.range_controls {
	position: relative;
	width: 220px;
}

.range_controls .scale {
	height: 4px;
	margin-top:8px;
	background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
	width: 100px;
	height: 4px;
	position: absolute;
	left: 35px;
	background: #ffffff;
}

.range_toggle {
	position: absolute;
	top: 8px;
	width: 20px;
	height: 20px;
	background: #f7f7f4;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range_toggle-min {
	left: 35px;
}

.range_toggle-max {
	left: 135px;
}

.filter_settings-item input[type="submit"] {
	margin-top: 25px;
	padding: 7px 30px;
	background: rgba(255,255,255,0.2);
	border:none;
	box-shadow: inset 0 0 0 2px #fbfcfb;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	height: 36px;
	outline: none;
}

.filter_settings-item input[type="submit"]:hover {
	color: black;
	background-color: #fbfcfb;
}

.filter_settings-item input[type="submit"]:active {
	background-color: #eaeaea;
	box-shadow: inset 0 1px 2px 1px #6c6d6c;
	color:black;
}

.paginator {
	font-size: 0;
	list-style: none;
	float: right;
	/*max-width:195px; */
	margin: 0;
	margin-bottom: 28px;
	padding:0;
}

.paginator_item {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right:2px;
	width:26px;
	border-radius: 50%;
}

.paginator_item:hover {
	background-color: rgba(255,255,255,0.2);	
}

.paginator_item:first-child:hover {
	background:none; 
}

.paginator_item:last-child {
	margin-right: 0;
} 

.paginator_link {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 26px;
	height:26px;
	padding: 4px;
}

.current_page {
	background-color: rgba(255,255,255,1);
	color: black;
	cursor: default;
}

.paginator_link:active {
;
	color: black;
}

.paginator_link-prev, 
.paginator_link-next {
	font-size: 0;
	position: relative;
}

.paginator_link-prev::before {
	content: "";
	position: absolute;
	top: 5px;
	left:8px;
	width:10px; 
	height:18px;
}

.paginator_link-next::before {
	content: "";
	position: absolute;
	top:5px;
	left:5px;
	width:10px; 
	height:18px;
}

.paginator_link-prev::before {
	background:url(../img/sprite.png) -91px -171px no-repeat;
}

.paginator_link-next::before {
	background:url(../img/sprite.png) -57px -170px no-repeat;
}

.paginator_link-prev {
	margin-right: 3px;
}

.paginator_link-next {
	width: 20px;
	margin-left: 2px;
	padding-right: 0;
	margin-right: -4px;
}

.footer {
	height:100px;
	border-top:1px solid #adbab1;
	}

.social {
	float: left;
	width: 300px;
	margin:0;
	margin-right: 120px;
	padding: 35px 0 30px 0;
	list-style: none;

}

.social_item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,.5);
	margin-right: 5px;
	
}

.social_item:hover {
  border-color: rgba(255,255,255,.7);
}

.social_item:active .social_item-link {
	box-shadow: inset 0 2px 1px #888;
}

.social_item-link {
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: rgba(255,255,255,.8);
}

.twitter {
	background: url("../img/sprite.png") -57px -227px no-repeat;
}

.instagram {
	background: url("../img/sprite.png") -57px -284px no-repeat;
}

.facebook {
	background: url("../img/sprite.png") -57px -340px no-repeat;
}

.vk {
	background: url("../img/sprite.png") -57px -397px no-repeat;
}


.about_list {
	float:left;
	width:350px;
	font-size: 0px;
	padding:35px 0 15px 0;
	margin: 0;
	list-style: none;
}

.about_list-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	margin-right: 5px;
	margin-bottom: 6px;
	width: 140px;
}

.about_list-item:nth-child(2n) {
	width:165px;
}


.about_list-item a {
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	position: relative;
}

.about_list-item a::after {
	position: absolute;
	content: "";
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(255,255,255,0.4);
	
}

.about_list-item a:hover::after, 
.about_list-item a:active::after {
	background: rgba(255,188,158,0.4);
}

.about_heart {
	font-weight: 700;
	position: relative;
}

.about_list-item:hover a {
	color:#ffbc9e;
}

.about_heart::before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	left: -22px;
	top: 0;
	z-index: 20;
	background: url("../img/sprite.png") 0 -170px no-repeat;
}

.copyright {
	float: right;
	width: 190px;
	padding-top: 20px;
}

.copyright p, 
.copyright a {
	font-size: 12px;
	color: #fff;
}

.copyright p {
	margin: 0;
}

.copyright a {
	display: inline-block;
	margin-bottom: 3px;
}

.link_html-academy {
	position: relative;
	text-decoration: none;
}

.link_html-academy:hover,
.link_html-academy:active {
	color:rgba(255,188,158,1);
}

.link_html-academy::after {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(255,255,255,0.4);
	
}

.link_html-academy:hover::after, 
.link_html-academy:active::after {
	background: rgba(255,188,158,0.4);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 25;
	background-color: rgba(0,0,0,0.3);
	top: 0;
	left: 0;
	display: none;
}



@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.display_block {
	display: block;
	animation: bounce 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60%  {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.modal-error {
  animation: shake 0.5s;
}